{% extends 'base.html' %}
<title>{% block title %}Details Ad{% endblock %}</title>
{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ telescope.image.url }}" style="width: 100%" alt="">
        </div>
        <div class="col-lg-6">
            <h1>Make: {{ telescope.make }}</h1>
            <h2>Model: {{ telescope.model }}</h2>

            <p>Description: {{ telescope.description }}</p>
            <h3>Price: <strong>{{ telescope.price }}$</strong></h3>
            {% if is_owner %}
            <a href="{% url 'update telescope' telescope.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'delete telescope' telescope.id %}" class="btn btn-danger">Delete</a>
            {% endif %}

        </div>
    </div>
{% endblock %}