{% extends 'base.html' %}
<title>{% block title %}Create an Ad{% endblock %}</title>
{% block content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" action="{% url 'create telescope' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <br>
                <button class="btn btn-danger" type="submit">Create</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}