{% extends 'base.html' %}
{% block title %}All Telescopes{% endblock %}
{% block content %}
    <h1 class="display-4 text-center">All Posts</h1>
    <br>
    <div class="container">
        {% if telescopes %}
            {% for telescope in telescopes %}
                {% include 'telescopes/telescope_container.html' with telescope=telescope %}
            {% endfor %}
        {% else %}
            <h1>There's anything for sell yet...</h1>
        {% endif %}
        {% include 'pagination.html' %}
    </div>
    <br><br>


{% endblock %}

