
<div class="card mb-3 mx-auto" style="max-width: 720px; height: 290px;">
    <div class="row no-gutters w-100">
        <div class="col-sm-4">
            <img src="{{ telescope.image.url }}" class="card-img" alt="...">
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                <h4 class="card-title">{{ telescope.make }} - {{ telescope.model }}</h4>
                <hr>
                <h6 class="card-text">{{ telescope.description|truncatechars:50 }}</h6>
                <p class="card-text">Location: <strong>{{ telescope.location }}</strong></p>
                <p class="card-text">Price: <strong>{{ telescope.price }}$</strong></p>
                <p class="card-text"><small class="text-muted">Published: {{ telescope.created|date }}</small></p>
                <a href="{% url 'telescope details' telescope.id %}" class="btn btn-danger">See details</a>
            </div>
        </div>
    </div>
</div>



