{% extends 'base.html' %}
<title>{% block title %}Details Ad{% endblock %}</title>
{% block content %}
    <style>
        .children form {
            margin-left: -48px;
        }

        .children .children form {
            margin-left: -96px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="card-img" src="{{ telescope.image.url }}" alt="">
            </div>
            <div class="col-md-8">
                <br>
                <h1>{{ telescope.make }} {{ telescope.model }}</h1>

                <p>{{ telescope.description }}</p>
                <li>Location: <strong>{{ telescope.location }}</strong></li>
                <li>Contact Number: <strong>{{ telescope.contact_number }}</strong></li>
                <li>Owner: <strong>{{ telescope.user.username }}</strong></li>
                <h3>Price: <strong>{{ telescope.price }}$</strong></h3>
                {% if is_owner %}
                    <a href="{% url 'update telescope' telescope.id %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'delete telescope' telescope.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
                <hr>
            </div>
            <div class="col-md-8 mx-auto">
                <br><br>
                <h2>Ask The Seller...</h2>
                {{ telescope.comments.count }} comments
                {% load mptt_tags %}
                {% if not telescope.comments.all %}
                    No questions yet...
                    <br><br>
                {% else %}
                    <div>
                        {% recursetree comments %}
                            <div id="{{ node.id }}" class="my-2 p-2" style="border: 1px solid grey">
                                <div class="d-flex justify-content-between"><strong>by {{ node.name }}</strong>
                                    <div><small>{{ node.created|timesince }} ago</small></div>
                                </div>
                                <div>{{ node.text }}</div>
                                <br>
                                {% if node.level < 3 %}
                                    <button class="btn btn-danger" onclick="myFunc({{ node.id }})">Reply
                                    </button>
                                {% endif %}
                            </div>
                            {% if not node.is_leaf_node %}
                                <div class="children pl-2 pl-md-5">
                                    {{ children }}
                                </div>
                            {% endif %}
                        {% endrecursetree %}
                    </div>
                    {% include 'pagination.html' %}
                {% endif %}
                <div>
                    <h1 style="text-align: center">Comment...</h1>
                    <form class="form-insert py-2" action="{% url 'comment' telescope.pk %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button class="btn btn-danger">Add Comment</button>
                        <br><br><br><br><br><br><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function formClose() {
            document.getElementById("myForm").remove();
        }

        function myFunc(id) {
            if (document.contains(document.getElementById("myForm"))) {
                document.getElementById("myForm").remove();
            }
            let a = document.getElementById(id)
            a.insertAdjacentHTML('afterend',
                '<form id="myForm"  class="form-insert py-2" action="{% url 'comment' telescope.pk %}" method="post"> \
                <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type"button" class="btn btn-outline-secondary" onclick="formClose()">Close</button></div></div> \
                <label for id="id_name">Name:</label> \
                <input type="text" name="name" class="col-sm-12" max_length="50" required="" id="id_name"> \
                <select name="parent" class="d-none" id="id_parentt"> \
                <option value="' + id + '" selected="' + id + '"></option> \
                </select> \
                <label for="id_text">Text:</label> \
                <textarea name="text" cols="40" rows="5" class="form-control" required id="id_text"></textarea>\
                {% csrf_token %} \
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Reply</button> \
            </form>');
        }
    </script>
{% endblock %}