{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}IndustrialServices{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/jquery-ui-1.8.5.custom.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cycle.all.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.5.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/html5.js' %}"></script>
</head>
<body>
{% include 'header.html' %}
{% block content %}
{% endblock %}
</body>
<div class="my_footer">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp fa-2x"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
    <a href="https://www.discord.com/"><i class="fab fa-discord fa-2x"></i></a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.pics').cycle({
            fx: 'toss',
            next: '#next',
            prev: '#prev'
        });
        $('#datepicker').datepicker({
            inline: true
        });
    });
</script>
</html>