
{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{##}
{#    <div class="container">#}
{#        <div class="jumbotron parent">#}
{#            <img style="width: 100%"#}
{#                 src="https://activepets.co.za/web/ap-content/uploads/2019/08/Active-pets-dogs-and-cats.png" alt="">#}
{#            <div class="absolute">#}
{#                <h1 class="display-4">Welcome to Sky At Night</h1>#}
{#                <p class="lead">Share your best astro photos.</p>#}
{#                <hr class="my-4">#}
{#                <div class="inner cover">#}
{#                    <h1 class="cover-heading"></h1>#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6">#}
{#                            <p class="lead">Already have an account? <br><a href="#"#}
{#                                                                            class="btn btn-lg btn-secondary">sign#}
{#                                in</a></p>#}
{#                        </div>#}
{#                        <div class="col-lg-6">#}
{#                            <p class="lead"> Do not have an account? <br>#}
{#                                <a href="#" class="btn btn-lg btn-secondary">sign up</a>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}


{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="content">
    <div class="top">
        <div class="container">
            <div class="clearfix">
                <section id="gallery">
                    <div class="pics">
                        <img src="{% static 'images/oa9UA5gpbbj5zXVcN7PrcK.jpg' %}" alt="" width="495" height="329">
                        <img src="{% static 'images/ASYCS1020102.jpg' %}" alt="" width="495" height="329">
                        <img src="{% static 'images/ETX_Observer_Banner.jpg' %}" alt="" width="495" height="329">
                        <img src="{% static 'images/1040x585-2021-0525-best-celestron-telescope-3639e7.jpg' %}" alt=""
                             width="495" height="329">
                        <img src="{% static 'images/B64CE289URBuvK3Z4kY4FE.jpg' %}" alt="" width="495" height="329">
                    </div>
                    <a href="#" id="prev"></a> <a href="#" id="next"></a></section>
                <section id="intro">
                    <div class="inner">
                        <h2>Welcome to<span>the Astrotrader</span></h2>
                        <h3>The place where you will find your new telescope or sell it.</h3>
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'login' %}" class="extra-button">Login</a>
                            <a href="{% url 'register' %}" class="extra-button">Register</a></div>
                        {% else %}
                            <a href="{% url 'create telescope' %}" class="extra-button">Post Your Ad</a>
                        {% endif %}
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}
