{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Profile{% endblock %}</title>
{% block content %}
    <div class="text-center">
        <h1>Hello, {{ request.user }}!</h1>
        <h5>This is your profile</h5>
        {% if profile.profile_image %}
            <img class="rounded-circle mb-3" src="{{ profile.profile_image.url }}" alt="" width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3"
                 src="{% static 'profile/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg' %}"
                 alt="" width="140"
                 height="140">
        {% endif %}
        <form action="{% url 'profile details' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Change profile picture: </h3>
            <input type="file" name="profile_image" accept="image/*" id="id_profile_image">
            <button class="btn btn-danger">Update</button>
        </form>
        <br>
        <div class="w-50 m-auto">
            <a class="btn btn-danger" href="{% url 'update profile' %}">Update Profile</a>
            <a class="btn btn-dark" href="{% url 'delete profile' request.user.id %}">Delete Profile</a>
        </div>
    </div>
    <hr>
    {% if posts %}
        <h2 class='text-center'>Your ads</h2>
        <br>
        <div class="container">
            {% if posts %}
                {% for post in posts %}
                    {% include 'telescopes/telescope_container.html' with telescope=post %}
                {% endfor %}
            {% else %}
                <h1>You have no posts yet...</h1>
            {% endif %}
        </div>
        <br><br>
    {% else %}
        <div class="text-center">
            <h2>You have no ads</h2>
            <a href="{% url 'create telescope' %}" class="btn btn-danger">Create your first Ad</a>
        </div>
    {% endif %}
    <br><br>

{% endblock %}