{% extends 'base.html' %}
<title>{% block title %}Password Change{% endblock %}</title>
{% block content %}
    <div class="container">
        <div class="row">
            <form class="col-lg-6 mx-auto" method="post" style="border: 1px solid grey; margin: 10% 0%; padding: 5% 5%">
                <h2>Change Password</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger">Change password</button>
            </form>
        </div>
    </div>
{% endblock %}